body {
  font-family: system-ui;
  max-width: 800px;
  margin: auto;
  padding: 40px;
  line-height: 1.6;
}

a {
  color: #0366d6;
}

pre {
  background: #111;
  color: #00ff9c;
  padding: 15px;
  overflow-x: auto;
}
